<mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1">
        <app-users></app-users>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <app-choose-color></app-choose-color>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <app-get-color></app-get-color>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <app-update-color></app-update-color>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <app-delete-color></app-delete-color>
    </mat-grid-tile>

    

  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="30vh" gutterSize="25px">

  </mat-grid-list>