<h2 style="font-weight: bold;">LIDP UI Challenge</h2>
<p>This application consists of coding challenges. These challenges can be summarized below. Feel free to interact with each challenge via the navigation bar.</p>

<h3>Challenges:</h3>
<ul>
    <li>Hello World: a user can type their name and see it displayed on the page with a greeting as they type. String interpolation and two-way binding were used for this challenge.</li>
    <li>GET: a GET request is sent when the page loads to retrieve today's date and name of the application from a web service. This information is displayed at the top of the page.</li>
    <li>POST: a user can calculate the circumference of a circle by sending a radius via a POST request.</li>
    <li>Material:</li>
    <li>System Stats</li>
    <li>Database: store a user's favorite colors in a PostreSQL database. A user can create, retrieve, update, and delete their info. </li>
</ul>